:root {
   --vermelho: #E50914;
   --preta: #141414;
}
*{ 
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*elementos base*/
body {
  background: var(--preta);
  font-family: 'Arial', Times, serif;
  color:white;

}
header .container {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    color: rgb(82, 39, 82);
    font-family: 'gamersOnly', Arial;
    font-size: 40px;
    margin-left: 8px;
}
header nav a {
  text-decoration: none;
  color: #AAA;
  margin-right: 10px;
}
header nav a:hover{
    color: #fff;
}
/*jogo principal*/
.jogo-principal { 
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.30),rgba(0,0,0,.30)100%), url('../imagem/death stranding.jpg');
    height: 400px;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.jogo-principal .descricao { 
    margin-bottom: 40px;
}
.titulo { 
    font-size: 40px;
    font-family: "Sackers Gothic Light";
    color:white;
    margin-left: 25px;
    margin-bottom: 10px;
}
.botao {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-left:5px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}
.botao:hover{
    background-color: white;
    color:black;
}
.botao i{
    margin-right: 8px;
}
.jogo-principal .container { 
    margin-left: 35px;
    width: 70%;

}
.box-jogo { 
    height: 100%;
    width: 100%;
    display: block;
}
.carrossel-jogos { 
    margin-top: 5px;
}